<!-- <app-appheader></app-appheader>
<app-sidebar></app-sidebar> -->
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="list_heading">{{ title | titlecase }}</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">{{ title | titlecase }}</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- SELECT2 EXAMPLE -->
        <div class="card card-gray-dark">
          <div class="card-header">
            <h3 class="card-title">{{ title | titlecase }} Registration Form</h3>
          </div>
          <!-- /.card-header -->
          
          <form [formGroup]="registrationForm" (ngSubmit)="register()">
            <div class="card-body"> 
            <div class="">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="exampleInputPassword1">Township</label>

                    <select class="form-control" name="state" style="width: 100%;" 
                    formControlName="townshipId" readonly
                    [ngClass]="{ 'is-invalid':   f.townshipId.errors }">
                        <option value="">Please select</option>
                        <option *ngFor="let item of townshipdata" value="{{item.id}}">{{item.township_name}}</option>
                      
                      </select>
                 </div>
                </div>
            </div>

                <div class="row" *ngFor="let item of registrationForm.get('blockData').controls;let i = index"
                    [formGroup]="item">
                    <!-- <div class="col-md-3">
                        <label for="exampleInputPassword1">Township</label>

                        <select class="form-control" name="state" style="width: 100%;" 
                        formControlName="townshipId" readonly
                        [ngClass]="{ 'is-invalid':   f.townshipId.errors }">
                            <option value="">Please select</option>
                            <option *ngFor="let item of townshipdata" value="{{item.id}}">{{item.township_name}}</option>
                          
                          </select>
                    </div> -->
                      <div class="col-md-3" > 
                        <label for="validationheadline" class="form-label">Name </label>
                        <input type="text" class="form-control" id="headline" placeholder="" 
                        [ngClass]="{ 'is-invalid':  submited&&pointAt(i).name.errors }" formControlName="name">
                        <div *ngIf=" submited&&pointAt(i).name.errors" class="invalid-feedback">
                          <div *ngIf="submited&&pointAt(i).name.errors.required"> name is required.</div>
                        </div>
                      </div>
                      <div class="col-md-3" > 
                        <label for="validationheadline" class="form-label">Size </label>
                        <input type="text" class="form-control" id="headline" placeholder="Please enter 10*20" 
                        [ngClass]="{ 'is-invalid':  submited&&pointAt(i).size.errors }" formControlName="size">
                        <div *ngIf=" submited&&pointAt(i).size.errors" class="invalid-feedback">
                          <div *ngIf="submited&&pointAt(i).size.errors.required"> size  is required.</div>
                        </div>
                      </div>
                   
                </div>
                  
                
            </div>
            <!-- /.card-body -->
            </div>

            <div class="card-footer">
               <button type="submit" class="btn btn-custom">Add</button>
            </div>
          </form>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
<!-- 
<app-footer></app-footer> -->