<div class="wrapper">
    
    <!-- <app-login *ngIf="!this.isLogin"></app-login> -->
    <!-- <app-appheader></app-appheader>
    <app-sidebar></app-sidebar>
    <app-dashboard></app-dashboard>
    <app-footer></app-footer> -->
    <!-- <div class="main">
      <div class="header"> -->
        <app-appheader *ngIf="this.isLogin"></app-appheader>
      <!-- </div>
      <div class="middle">
       <div class="leftsidenv"> -->
        <app-sidebar *ngIf="this.isLogin"></app-sidebar>
       <!-- </div>
       <div class="rightsidenav"> -->
       <div class="main">    
        <router-outlet></router-outlet>  
     </div>
         <!-- </div>   
    
    </div>
      <div class="footer">
      </div>         
    </div>    -->
    <app-footer *ngIf="this.isLogin"></app-footer>
</div>
<!-- ./wrapper -->

