<!-- <app-appheader></app-appheader>
<app-sidebar></app-sidebar> -->
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>{{ title | titlecase }}</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">{{ title | titlecase }}</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- SELECT2 EXAMPLE -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">{{ title | titlecase }} Registration Form</h3>
          </div>
          <!-- /.card-header -->
          <form>
            <div class="card-body">
              <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Plot Number</label>
                      <input type="text" class="form-control" id="plot_no" placeholder="Enter Plot Number">
                   </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Township Name</label>
                      <select class="form-control select2" name="township_name" style="width: 100%;">
                        <option selected="selected">Choose Township</option>
                        <option>Township 1</option>
                        <option>Township 2</option>
                        <option>Township 3</option>
                      </select>
                   </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Dimesion</label>
                      <input type="text" class="form-control" id="dimesion" placeholder="Enter Dimesion in sq. fit">
                   </div>
                </div>
                <div class="col-md-3">
                  <label for="exampleInputEmail1">Plot status</label>
                  <div class="">
                    <div class="form-check-inline">
                      <div class="custom-control custom-radio">
                        <input class="custom-control-input" type="radio" id="customRadio1" name="plot_status" value="New">
                        <label for="customRadio1" class="custom-control-label">New</label>
                     </div>
                    </div>
                    <div class="form-check-inline">
                      <div class="custom-control custom-radio">
                        <input class="custom-control-input" type="radio" id="customRadio2" name="plot_status" value="Resell">
                        <label for="customRadio2" class="custom-control-label">Resell</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Latitude</label>
                      <input type="text" class="form-control" id="latitude" placeholder="Enter Latitude" value="">
                   </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Latitude</label>
                      <input type="text" class="form-control" id="latitude" placeholder="Enter Latitude" value="">
                   </div>
                </div> 
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="exampleInputPassword1">Plot Map Documents</label>
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="customFile">
                      <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Selling Amount</label>
                    <input type="text" class="form-control" id="amount" placeholder="Enter Amount in Rupee" value="">
                 </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Commission Type</label>
                    <select class="form-control" name="commission_type" style="width: 100%;">
                      <option value="flat">Flat</option>
                      <option value="percentage">Percentage</option>
                    </select>
                 </div>
                </div>
                <div class="col-md-3">
                  <label for="exampleInputEmail1">Agent Commission</label>
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" id="commssion_amount" name="commssion_amount">
                    <div class="input-group-append">
                      <span class="input-group-text">.00</span>
                    </div>
                 </div>
                </div>
              </div>
              <div class="row">

              <!-- <div class="form-group">
                  <label>Enter address</label>
                  <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
                </div> -->
              
                <!-- <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
                  <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                    (dragEnd)="markerDragEnd($event)"></agm-marker>
                </agm-map> -->

                <div class="col-md-10">
                  <div class="form-group">
                  <label for="">Description</label>
                  <textarea class="form-control ckeditor" name="description" id="description" rows="3" placeholder="Enter Description here"></textarea>
                  </div>
                </div>

              </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
               <button type="submit" class="btn btn-primary">Register</button>
            </div>
          </form>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
<!-- <app-footer></app-footer> -->

