<!-- <app-appheader></app-appheader>
<app-sidebar></app-sidebar> -->
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="list_heading">{{ title | titlecase }}</h1>
          </div>
          <div class="col-sm-2">
          </div>
          <div class="col-sm-4">
            <!-- <div class="row"> 

            </div> -->
            <div class="input-group">
              <!-- <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile"
                >
                <label class="custom-file-label" for="customFile">Choose file</label>
                <button type="button" class="btn btn-secondory">Upload</button>

              </div> -->
              <div class="input-group">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="inputGroupFile04" 
                   (change)="Onselectfile($event)"  name="file">
                  <label class="custom-file-label" for="inputGroupFile04">{{ bulkUpload ? bulkUpload.name:'Choose file'}}</label>
                </div>
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" [disabled]="!bulkUpload" id="inputGroupFileAddon04" (click)="onsubmitBulkUpload()">Upload</button>
                </div>
              </div>
     
              <div class="text-danger file-error" *ngIf="showerror" role="alert">Please select file</div>
            </div>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
          <div class="card-body">
            <table #dtElement datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped projects">
                <thead>
                    <tr>
                        <th style="width: 1%">
                            ID
                        </th>
                        <th style="width: 20%">
                            Township Name
                        </th>
                        <th style="width: 20%">
                           State
                        </th>
                        <th>
                            City
                        </th>
                        <th style="width: 8%" class="text-center">
                            Status
                        </th>
                        <th style="width: 8%" class="text-center">
                            Total Area
                        </th>
                        <th style="width: 8%" class="text-center">
                            No of Plots
                        </th>
                        <th style="width: 8%" class="text-center">
                            No of blocks
                        </th>
                        <th style="width: 30%" class="text-center"> Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let township of townshiplist; index as i;">
                        <td>
                            {{township.id}}
                        </td>
                        <td>
                            <a>
                               {{ township.township_name }}
                            </a>
                            <br/>
                            <small>
                                {{township.createdAt | date}}
                            </small>
                        </td>
                        <td>
                            <span>{{ township.state.name }}</span>
                        </td>
                        <td class="project_progress">
                            <span>{{ township.city.name }}</span>
                        </td>
                        <td class="project-state">
                            <span class="badge badge-success">Registered</span>
                        </td>
                        <td class="">
                            <span class="">{{township.total_size_of_township}}</span>
                        </td>
                        <td class="">
                            <span class="">{{township.number_of_plots}}</span>
                        </td>
                        <td class="">
                            <span class="">{{township.number_of_blocks}}</span>
                        </td>
                        <td class="project-actions text-right">
                          <a class="btn btn-primary btn-sm" href="javascript:void(0)"
                            routerLink="../../block/{{township.id}}"
                             >
                             <i class="fas fa-pencil-alt"></i>

                                <!-- <i class="fas fa-folder">
                                </i> -->
                                Add Block
                            </a>
                            <a class="btn btn-info btn-sm"  href="javascript:void(0)" 
                            (click)="editTownShip(township.id)">
                                <i class="fas fa-pencil-alt">
                                </i>
                                Edit
                            </a>
                            <a class="btn btn-danger btn-sm" (click)="selectedTownship = township" href="javascript:void(0)" 
                            data-toggle="modal" data-target="#staticBackdrop">
                                <i class="fas fa-trash">
                                </i>
                                Delete
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
  
      </section>
      <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

<!-- <app-footer></app-footer> -->






<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" *ngIf="selectedTownship">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Delete Township</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="remove-town">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure to Delete the Township {{selectedTownship.name}} ? This action can not be reverted.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-custom"
         (click)="deleteTownship(selectedTownship.id)">Delete</button>
      </div>
    </div>
  </div>
</div>
